.square::after {
  position: absolute;

  width: 10px;
  height: 10px;

  content: '';

  background-color: rgb(0, 255, 132);
}

.square::before {
  position: absolute;

  width: 10px;
  height: 10px;

  content: '';

  background-color: rgb(0, 255, 132);
}

.square {
  position: relative;

  width: 60px;
  height: 60px;
  margin: 30px;

  background-color: brown;
}

.first::after {
  top: 0%;
  right: 0%;
  transform: translate(50%, -50%);
}

.first::before {
    top: 0%;
 left: 0%;
  transform: translate(-50%, -50%);
  }



.second::after {
  top: 50%;
  right: 0%;
  transform: translate(50%, -50%);
}

.second::before {
  bottom: 0%;
  left: 0%;
  transform: translate(-50%, 50%);
}

.third::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.third::before {
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
