.header {
  display: flex;
  flex-direction: row;

  width: 90%;
  height: 120px;

  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.n {
  z-index: 1;

  width: 100px;
  height: 100px;

  background-color: rgb(255, 165, 0, .5);
}

.header_n {
  margin: 10px 10px 10px;
  padding: 5px 5px 5px;

  align-self: flex-end;
}

.c {
  width: 80%;
  height: 120px;

  background-color: rgb(119, 0, 255, .5);
}

.header_c {
  margin: 10px 10px 10px;
  padding: 5px 5px 5px;

  align-self: flex-end;
}

.main {
  width: 90%;
  height: 1000px;
  margin: 50px 15px 50px;
  padding: 10px;

}

.main_c {
  z-index: -1;

  display: flex;
  flex-direction: row;

  height: 120px;
  margin: 10px;

  flex-wrap: wrap;
}

.n1 {
  margin: 10px 10px;
}

.n2 {
  margin: 10px 10px;
}

.c2 {
  justify-content: space-between;
  row-gap: 50px ;
}

.c3 {
  row-gap: 50px;
}

.main_c3 {
  display: flex;

  margin: 10px;

  flex-flow: row;
}

.c3_left {
  display: flex;

  width: 50%;

  justify-content: flex-start;
}

.c3_right {
  display: flex;

  width: 50%;

  justify-content: flex-end;
}

.main_c4 {
  z-index: -1;

  display: flex;
  flex-direction: row;

  height: 120px;
  margin: 10px;

}

.n4 {
  width: 66%;
  margin: 10px;
}

.n5 {
  width: 33%;
  margin: 10px;
}

.c6_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 240px;
}

.c6_right {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.n7 {
  width: 100%;
  height: 100px;
  z-index: 1;
  margin: 10px;
  background-color: rgb(255, 165, 0, .5);
}

.n8 {
  width: 97%;
  height: 100px;
  z-index: 1;
  margin: 10px;
  background-color: rgb(255, 165, 0, .5);
}

.n9 {
  width: 150%;
  height: 100px;
  z-index: 1;
  margin: 10px;
  background-color: rgb(255, 165, 0, .5);
}

.c8_left {
  width: 50%;
}

.c8_right {
  width: 50%;
  overflow: scroll;
}

.c9_right {
  width: 50%;

}

.c10_left {
  display: flex;

  width: 50%;

  justify-content: space-between;
}

.c10_right {
  display: flex;

  width: 50%;

  justify-content: space-between;
}

.c11 {
  justify-content: space-around;
  row-gap: 50px ;
}

.n12 {
 margin-left: 10px ;
 margin-right: 10px;
}

.n13 {
  align-self: flex-end;
  margin-left: 10px ;
  margin-right: 10px;
}

.c12_left {
  display: flex;

  
  align-items: center;

  
}

.c12 {
  width: 80%;
  height: 150px;

  background-color: rgb(119, 0, 255, .5);
}

.main_c12 {
  display: flex;
  margin: 10px;

  flex-flow: row;
}

.n14 {
  align-self: flex-start;
  margin-left: 10px ;
  margin-right: 10px;
  width: 100px;
}

.c12_right {
  display: flex;
  align-items: flex-end;
  width: 120px;
}

.c13 {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 240px;
margin: 10px;
  background-color: rgb(119, 0, 255, .5);
}

.c13_first{
  display: flex;
  flex-direction: row;
}

.n13 {
  width: 200px;
  margin: 10px;
}

.n14 {
  align-self: flex-end;
}

p:first-child{
  z-index: 1;

  width: 100px;
  height: 100px;

  background-color: rgb(255, 165, 0, .5);
  align-self: flex-start;
  margin: 10px;
}

p{
  z-index: 1;

  width: 100px;
  height: 100px;

  background-color: rgb(255, 165, 0, .5);
  align-self: flex-end;
  margin: 10px;
}

.c12_first {
  display: flex;
  flex-direction: row;
}