.first {
  width: 50%;

  background-color: antiquewhite;
}

.first p:nth-of-type(2n) {
  background-color: cadetblue;
}

.second {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(86, 93, 228);
}

.second p:nth-of-type(3n) {
  background-color: rgb(154, 95, 160);
}

.third {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(86, 93, 228);
}

.third p:nth-of-type(3n) {
  background-color: rgb(154, 95, 160);
}

.fourth {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(228, 174, 86);
}

.fourth p:nth-of-type(4n+7) {
  background-color: rgb(37, 23, 116);
}

.fifth {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(204, 206, 247);
}

.fifth p:nth-child(2n) {
  background-color: blueviolet;
}

.sixth {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(186, 99, 204);
}

.sixth  p:nth-child(3n) {
  background-color: rgb(224, 217, 114);
}

.seventh {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(204, 206, 247);
}

.seventh p:nth-child(4n+7) {
  background-color: rgb(155, 241, 194);
}

.eighth {
  width: 50%;
  margin-top: 50px;

  background-color: rgb(247, 204, 242);
}

.eighth p:nth-last-of-type(2n) {
  background-color: rgb(34, 147, 233);
}

button {
  position: relative;

  width: 100px;
  height: 80px;
  margin: 50px;

  background-color: aqua;
}

button:hover {
  top: -4px;
  left: -4px;

  box-shadow: 2px 2px rgba(0,0,0,.25);
}

button:active {
  top: 0;
  left: 0;

  box-shadow: none;
}
