.c {
  display: flex;

  width: 80%;
  margin-bottom: 10px;
  padding: 10px;

  background-color: rgb(119, 0, 255, .5);

  gap: 20px;
}

.n {
  width: 100px;
  height: 100px;

  background-color: rgb(255, 165, 0, .5);
}

.c2 {
  justify-content: space-between;
}

.c3_left {
  display: flex;

  width: 50%;

  justify-content: flex-start;
}

.c3_right {
  display: flex;

  width: 50%;

  gap: 20px;
  justify-content: flex-end;
}

.c3_1 {
  justify-content: space-between;
}

.c3_1_right {
  display: flex;

  gap: 20px;
}

.n_3_2_grow {
  flex-grow: 1;
}

.n4_1 {
  flex-grow: 2;
}

.n4_2 {
  flex-grow: 1;
}

.n5 {
  flex-grow: 1;
}

.c6 {
  overflow: auto;
}

.n6 {
  width: 60%;

  flex-shrink: 0;
}

.n7 {
  width: 60%;

  flex-shrink: 0;
}

.c8 {
  justify-content: space-around;
  row-gap: 50px ;
}

.n8 {
  width: 100px;
  margin-right: 10px;
  margin-left: 10px ;
}

.c8_center {
  display: flex;
}

.c9 {
  justify-content: space-around;
}

.c10 {
  height: 150px;
}

.n10 {
  align-self: flex-end;
}

.c11 {
  flex-wrap: wrap;
}

.c11_n3 {
  width: 60%;
}

.c11_n4 {
  width: 40%;
}

.c12 {
  height: 150px;
}

.n12 {
  align-self: flex-end;
}

.c13 {
  display: flex;

  height: 150px;
}

.n13:nth-child(even) {
  align-self: flex-end;
}
